#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 188, 196, 0.377);    
}


.btnContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
}

h1{
    font-size: 3rem;
    font-style: italic;
}


.btn{
    margin-top: 25px;
    width: 100%;
    height: 3rem;
    
}

.btnReset {
    margin-top: 25px;
    width: 50%;
    border: none;
    
}