<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="container">
    <h1 class="title fixtittle" >Bienvenido {{userName}}</h1>
    <h2 class="prof" type="text" ></h2>
    <h3 class="date">Clases 22/10/2021</h3>
    <div class="btnContainer">
      <button (click)="goToCodeQR()" class="btn" mat-stroked-button color="primary">Arquitectura 001A</button>
      <button (click)="goToCodeQR()" class="btn" mat-stroked-button color="primary">Arquitectura 005D</button>
      <button (click)="goToCodeQR()" class="btn" mat-stroked-button color="primary">Ing. Software 003A</button>
      <button (click)="goToCodeQR()" class="btn" mat-stroked-button color="primary">Ing. Software 004A</button>
    </div>
  </div>

</ion-content>
