#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 188, 196, 0.377);
    
}

.logo {
    width: 40%;
    margin-bottom: 30%;
}

.btnContainer{
    width: 70%;
}

.inputUser{
    width: 100%;
}
.inputPass{
    width: 100%;
}
.inputUsuario{
    margin-bottom: 15%;
}

.inputContrasena{
    margin-bottom: 15%;
}

.btn{
    margin-top: 25px;
    width: 50%;
    background-color: #41aabd;
    color: white;
}

.btnReset {
    margin-top: 25px;
    width: 50%;
    border: none;
    
}