<ion-header>
  <ion-toolbar>  
    <ion-title><mat-icon (click)="goToLogin()">arrow_back_ios</mat-icon>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    
    <ion-img class="logo" src="/assets/logoR.png"></ion-img>
    <div class="btnContainer">
      <h4>Ingrese su correo para restablecer su contraseña</h4>
      <form [formGroup]="reset">
        <mat-form-field class="inputUser" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailUser" required >
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
        <button type="submit" (click)="sendPassword()" class="btn" mat-stroked-button color="primary" [disabled]="reset.invalid">Restablecer</button>
      </form>
    </div>
  </div>

</ion-content>
