#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 188, 196, 0.377);
    
}


.btnContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
}

h1{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}


.btn{
    margin-top: 25px;
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    background-color: white;
    color: black;
    
}

.codeQr{
    width: 100%;
    height: 60%;
    border: 3px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr {
    width: 100%;
    height: 100%;
}
.btnReset {
    margin-top: 25px;
    width: 50%;
    border: none;
    
}