<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="container">
    <ion-img class="logo" src="/assets/logoR.png"></ion-img>
    <div class="btnContainer">
      <form [formGroup]="login">
        <mat-form-field class="inputUser" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="email" type="email" formControlName="user" required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field class="inputPass" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" type="password" formControlName="pass" required>
          <button type="submit" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" (click)="logins()" class="btn" mat-stroked-button color="primary" [disabled]="login.invalid">Ingresar</button>
      </form>
    </div>
    <button  (click)="goToReset()" class="btnReset" mat-stroked-button color="primary">Olvido su contraseña?</button>
  </div>

</ion-content>
