<ion-header>
  <ion-toolbar class="navbut">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="firstName" placeholder="firstName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="lastName" placeholder="LastName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="phoneNumber" placeholder="phoneNumber" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="rol" placeholder="Rol" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="imagen" placeholder="imagen URL" type="text"></ion-input>
  </ion-item>

    <br>
    <ion-button class="BtnRegistro" (click)="register()">Registrarse
    </ion-button>

</ion-content>