<ion-header>
  <ion-toolbar>
    <ion-title><mat-icon (click)="goToAlumno()">arrow_back_ios</mat-icon>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="container">
    <h1 class="title c_titulo">escaneo Exitoso!</h1>
    <h2 class="date c_present">Ya estas {{ result }} </h2>
    <h1 class="title c_asignatura"> Arquitectura 005D</h1>
    <h2 class="date">% de asistencia</h2>
  
  
    <div class="card">
      <div class="percent" style="--clr:#04fc43;--num:85;">
        <div class="dot"></div>
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="number">
           <h2>85 <span>%</span></h2>
        </div>
      </div>
    </div>
    <h2 class="date">Total de clases: 20</h2>
    <h2 class="date">asistidas: 17</h2>
  </div>
  

</ion-content>